.box,.box_1,.box_2{
    background-color: black;
    color: beige;
    width: 16%;
    text-align: center;
    padding: 20px;
    border: 2px solid red;
    margin-right: 20px;
    margin-top: 20px;
    margin: auto;
    display: block;
}



