.parent{

display: flex;
justify-content: center;
align-items: center;
background-color: aquamarine;
height: 100vh;


}


.child{
    background-color: black;
    padding: 20px;
    width: 200px;
    height: 200px;
    color: white;
}


@media(max-width:768px){
    .child{
        display: none;
    }
}