*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    position: fixed;
    background-color: bisque;
    padding: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child{
    display: flex;
    gap: 30px;

}

.child a{
 text-decoration: none;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

.banner{
    position: relative;
    top: 50px;
    z-index: -1;

    padding: 30px;

}

.styck{
    position: sticky;
    top: 60px;
}