body{
       margin: 0;
}
.nav{
    background-color: rgb(0, 0, 0);
    color: white;
 
}
.nav h3{
    
    display: inline-block;
    margin-right: 80%;

}

.nav a{
    
    color: white;
    text-decoration: none;
   
    
}
